.statistics {
  width: 250px;
  margin: 0 auto;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  color: #192431;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

.statList {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  border: 5px;
}

.item {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  text-align: center;
  width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.label {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.percentage {
  font-size: 20px;
  padding-bottom: 5px;
}
